.sale-summary {
  border-left: 1px solid #e3e3e3;
  height: 100vh;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  .table-header {
    th {
      color: #2596be;
      font-size: 1rem;
    }
  }
  svg {
    color: red;
    cursor: pointer;
  }
  td {
    font-weight: 600;
  }
  .collected {
    margin-top: 20px;
  }
  h2 {
    margin-bottom: 0;
  }
}
