.page-container {
  width: 100vw;
  overflow-x: hidden;
}
.page-content {
  left: 10%;
  background-color: white;
  overflow-x: hidden;
  width: calc(100% - 10%);
  height: calc(100% - 55px);
  top: 55px;
}
