.page-container {
  position: relative;
  width: 100vw;
  overflow-x: hidden;
  height: 100vh;
}
.page-content {
  position: absolute;
  left: 10%;
  background-color: #f7f7f7;
  overflow-x: hidden;
  overflow-y: hidden;
  width: calc(100% - 10%);
  height: calc(100% - 55px);
  top: 55px;
}
