.sale-summary {
  border: 1px solid #e3e3e3;
  padding: 10px;
  .table-header {
    th {
      color: #2596be;
      font-size: 1rem;
    }
  }
  td {
    font-weight: 600;
  }
  .collected {
    margin-top: 20px;
  }
  h2 {
    margin-bottom: 0;
  }
}
